* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(203, 241, 245);
  background: radial-gradient(
    circle,
    rgba(203, 241, 245, 1) 4%,
    rgba(220, 250, 251, 1) 93%,
    rgba(227, 253, 253, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
